
<section id='fill_envelopes'>
  <header>
    <h1>Fill Envelopes</h1>
  </header>
  
  <ul>
    <li></li>
  </ul>
  
  show each envelopes
  - name of the envelope
  - current total
  - total monthly funding amount
  - left to fund this month
  
  detail view for an envelope
  - last 3 transactions
  - monthly amount (yearly amount)
  - due date
  - current funding (text field)
  - all sub envelopes
  
  
</section>
