<h1>Envelopes#index</h1>
<p>Find me in app/views/envelopes/index.html.erb</p>
<div style='margin:0 auto; width:800px;'>
  <div style='float:left;'>
    <div style='float:left; width: 300px; border: 1px solid #000'>Hi1</div>
    <div style='float:left; width: 300px; border: 1px solid #000'>Hi2</div>
  </div>
  <div style='float:left;'>
    <div style='float:left; width: 300px; border: 1px solid #000'>Hi3</div>
    <div style='float:left; width: 300px; border: 1px solid #000'>Hi4</div>
  </div>
</div>