<% title 'Dashboard' %>

<section id='dashboard'>
  <header>
    <h1>Dashboard</h1>
    <small><a href='#' class='manage button'>Manage</a></small>
  </header>
  
  <ul>
    <%= render partial: 'envelope', collection: @organized_envelopes[nil], as: :envelope, locals: {organized_envelopes: @organized_envelopes} %>
  </ul>
</section>
