<section id='dashboard'>
  <header>
    <h1>Dashboard</h1>
    <small><a href='#' class='manage button'>Manage</a></small>
  </header>
  
  <ul>
    <%= render partial: 'envelope', collection: @envelopes[nil], as: :envelope, locals: {envelopes: @envelopes} %>
  </ul>
</section>
