<section id='dashboard'>
  <header>
    <h1>Dashboard</h1>
    <small><a href='#' class='manage button'>Manage</a></small>
  </header>
  
  <ul>
    <%= render partial: 'envelope', collection: @parent_envelopes, as: :envelope, locals: {child_envelopes: @child_envelopes} %>
  </ul>
</section>
