<% url = Envelopes::Application.routes.url_helpers %>

$ ->
  $('#account input').selectOnFocus().on 'keydown', (event) ->
    if event.which == 13
      event.preventDefault()

  $('#account .new').on 'click', (event) ->
    event.preventDefault()
    newIndex = $('#account ul.questions li').length - 1
    newItemHtml = $('#questions_template').text().replace /index/g, newIndex
    $(newItemHtml)
      .hide()
      .insertBefore($(this))
      .slideDown()
      .find('input').selectOnFocus()

  $('#account .questions').on 'click', '.destroy', (event) ->
    event.preventDefault()
    $(this).parent().slideUp ->
      $(this).remove()

  $('#account .import').click ->
    $('#import-modal .modal-body').html("Importing...<div class='special-loading'></div>")
    $.post("<%= url.import_transactions_path %>")
      .error (data) ->
        $('#import-modal .modal-footer').removeClass('hidden')
        $('#import-modal .modal-body').addClass('bg-danger').html("<span class='glyphicon glyphicon-exclamation-sign'></span> An error occurred!")
