.animated {
  -webkit-animation-duration: .2s;
  -moz-animation-duration: .2s;
  -ms-animation-duration: .2s;
  -o-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-slow {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}


@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation-name($animation-name) {
  -webkit-animation-name: $animation-name;
  -moz-animation-name: $animation-name;
  -ms-animation-name: $animation-name;
  -o-animation-name: $animation-name;
  animation-name: $animation-name;
}
@mixin animation($params...) {
  -webkit-animation: $params;
  -moz-animation: $params;
  -ms-animation: $params;
  -o-animation: $params;
  animation: $params;
}

@include keyframes(fade-in-up) {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
.fade-in-up {
  @include animation-name(fade-in-up);
}


@include keyframes(fade-in-left) {
  0% {
    opacity: 0;
    transform: translateX(-20px)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}
.fade-in-left {
  @include animation-name(fade-in-left);
}


@include keyframes(fade-in-right) {
  0% {
    opacity: 0;
    transform: translateX(20px)
  }
  100% {
    opacity: 1;
    transform: translateX(0)
  }
}
.fade-in-right {
  @include animation-name(fade-in-right);
}

@include keyframes(spin) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  @include animation(spin 1.5s infinite linear);
}


.panel > .butterbar + .table {
  border-top: 1px solid #ddd;
}
.butterbar {
  position: relative;
  height: 3px;
  margin-bottom: -3px;
  clear: both;

  .bar {
    position: absolute;
    width: 100%;
    height: 0;
    text-indent: -9999px;
    background-color: #23b7e5;

    &:before {
      position: absolute;
      right: 50%;
      left: 50%;
      height: 3px;
      background-color: inherit;
      content: "";
    }
  }

  &.active {
    @include animation(changebar 2.25s infinite .75s);

    .bar {
      @include animation(changebar 2.25s infinite ease);

      &:before {
        @include animation(movingbar .75s infinite ease);
      }
    }
  }
}


@include keyframes(movingbar) {
  0% {
    right: 50%;
    left: 50%
  }
  99.9% {
    right: 0;
    left: 0
  }
  100% {
    right: 50%;
    left: 50%
  }
}

@include keyframes(changebar) {
  0% {
    background-color: #23b7e5
  }
  33.3% {
    background-color: #23b7e5
  }
  33.33% {
    background-color: #fad733
  }
  66.6% {
    background-color: #fad733
  }
  66.66% {
    background-color: #7266ba
  }
  99.9% {
    background-color: #7266ba
  }
}
