
html, body {
  height: 100%;
}

body {
  background-color: #f0f3f4;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #363f44;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1, .h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.app {
  padding-top: 50px;
  position: relative; // To get the footer to the bottom, etc.
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
}



// Generic classes

.wrapper {
  padding: 20px;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
}

// Get the background to stretch to the height of the parent
.bg-auto:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: inherit;
  background-color: inherit;
  border: inherit;
  content: "";
}

.bg-light {
  background-color: #f6f8f8;
}

.bg-dark {
  color: #c4d0d9;
  background-color: #1c2b36;

  .text-muted {
    color: #5c798f;
  }
}

.bg-white {
  background-color: #fff;
}

.badge-error {
  background-color: #f05050;
}

.col-wrap {
  border-spacing: 0;
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;

  .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }
}

.b-l {
  border-left: 1px solid #dee5e7;
}

.b-b {
  border-bottom: 1px solid #dee5e7;
}

.text-muted {
  color: #98a6ad;
}

.w-md {
  width: 240px;
}



// Navbar

.app-aside, .navbar-header {
  width: 200px;
}
.navbar-collapse, .app-content, .app-footer {
  margin-left: 200px;
}

.navbar {
  border-width: 0;
}
.navbar-brand {
  color: #c4d0d9 !important;
  background: asset-url("icon.svg") no-repeat 10px 15px;
  background-size: 30px;
  padding-left: 45px;
  font-size: 20px;
  font-weight: 700;
}

.navbar-right {
  margin-right: 0;
}

.navbar-default .nav > li > a {
  color: #363f44;
  &:hover, &:focus {
    background-color: #f6f8f8;
  }
}



.app-aside {
  bottom: 0;
  float: left;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 50px;
  width: 200px;

  .app-aside-wrap {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 217px;
  }

  nav {
    padding-top: 20px;
    width: 200px;
  }

  .nav-cat > span {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 15px;
  }

  .nav > li > a {
    color: #869fb1;
    transition: background-color .2s ease-in-out 0s;
    &:hover, &:focus {
      background-color: #16232d;
    }
  }
  .nav > li.active > a {
    color: #fff;
    background-color: #131e26;
    &:hover, &:focus {
      background-color: #16232d;
    }
  }
  .active .nav-sub {
    display: block;
  }
  .nav-sub {
    background-color: #131e26;
    display: none;

    li a {
      padding-left: 30px;
    }
  }

  .line {
    background-color: #131e26;
    font-size: 0;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
  }
}


.app-content {
  height: 100%;
  margin-left: 200px;
  padding-bottom: 50px;
}




// Footer
.app-footer {
  background-color: #edf1f2;
  border-top: 1px solid #dee5e7;
  bottom: 0;
  color: #58666e;
  left: 0;
  margin-left: 200px;
  padding: 15px;
  position: absolute;
  right: 0;
  z-index: 1005;
}



/*
.margin-below {
  margin-bottom: 15px;
}
.alert h4 {
  margin-top: 0;
}
.ui-front { // To get selectToAutocomplete suggestions to appear on top
  z-index: 1100;
}
.btn-glyphicon-spacer {
  width: 40px;
  display: inline-block;
}


.field, .actions {
  clear: both;
  padding: 0.5em 0;
}


th {
  text-align: left;
}

.positive-number {
  color: #6d9c00;
}

.negative-number {
  color: #fc3f4d;
}

.amount {
  text-align: right;
  white-space: nowrap;

  input {
    text-align: right;
  }
}

.loading {
  width: 32px;
  height: 32px;
  background: asset-url("loading_32x32.gif") no-repeat center center;
  display: none;
  vertical-align: bottom;
  margin-right: 5px;
}

.autosave-status, .status {
  color: #999;
  font-size: 12px;
}

footer {
  font-size: 12px;
  padding: 15px 0 20px;
  text-align: center;
  color: #999;
}
*/
