/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   Base
   ========================================================================== */

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 * Corrects font size not being inherited in all browsers
 * Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 */

body,
button,
input,
select,
textarea,
figure,
form {
    font-family: "Open Sans", Helvetica, Arial;
    font-size: 100%;
    margin: 0;
    color: #000;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b, 
strong { 
    font-weight: bold; 
}

small {
    font-size: 75%;
}

/*
 * Prevents iOS text size adjust after orientation change, without disabling user zoom
 * www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/*
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*/

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Define consistent border, margin, and padding
 */
/*
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
*/

/*
 * Corrects inability to style clickable 'input' types in iOS
 */

button,
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    -webkit-appearance: button;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * Removes default vertical scrollbar in IE6/7/8/9
 */

textarea {
    overflow: auto;
}


/* =============================================================================
   Tables
   ========================================================================== */

/* 
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}