// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box {
  margin: 0 auto;
  width: 300px;
  
  h1 {
    text-align: center;
  }
  
  label {
    width: 90px;
    float: left;
  }
  
  input[type=email], input[type=password] {
    width: 194px;
    float: left;
  }
  
  .actions {
    padding-left: 90px;
  }
}