$('#last_imported').text("(imported just now)");
hideModal();
$("<div class='flash notice'><div><%= pluralize(@import_count, 'transaction') %> imported!</div></div>").appendTo('body').delay(4000).fadeOut(function() { $(this).remove() });
