$('#last_imported').text("(imported just now)");
$('#import-modal .modal-footer').removeClass('hidden');
$('#import-modal .modal-body').html("<span class='text-success'><%= pluralize(@import_count, 'transaction') %> imported!</span>");
