<% title 'Rules' %>

<section id='rules'>
  <header>
    <h1>Rules</h1>
  </header>
  
  <ul>
    <li class='head'>
      <div>Search Text</div>
      <div>Replacement Text</div>
      <div>Envelope</div>
    </li>
    <%= render partial: 'rules/rule', collection: @rules, locals: {all_envelopes: @all_envelopes} %>
  </table>
  <p class='autosave-status'></p>
</section>

<section id='rules_aside'>
  <ul class='actions'>
    <li><a href='javascript:void(0)' class='button new'>New Rule</a></li>
  </ul>
</section>