<% title 'Rules' %>

<section id='rules'>
  <header>
    <h1>Rules</h1>
  </header>
  
  <table>
    <tr>
      <th>Search Text</th>
      <th>Replacement Text</th>
      <th>Envelope</th>
    </tr>
    <%= render partial: 'rules/rule', collection: @rules, locals: {all_envelopes: @all_envelopes} %>
  </table>
  <p class='autosave-status'></p>
</section>

<section id='rules_aside'>
  <ul class='actions'>
    <li><a href='javascript:void(0)' class='button new'>New Rule</a></li>
  </ul>
</section>